VITE_APP_TITLE=Template
VITE_KEYCLOAK_ISSUER=https://keycloak.example.com/realms/example
VITE_KEYCLOAK_CLIENT_ID=your-client-id
VITE_POST_LOGOUT_REDIRECT_URI=http://localhost:3000/logged-out
VITE_API_BASE_URL=/api/v1
