# Application Configuration
ADMIN_EMAIL=admin@example.com
CORS_ALLOW_ORIGINS=http://localhost:3000

# Keycloak
KEYCLOAK_ISSUER=https://keycloak.example.com/realms/example
KEYCLOAK_AUDIENCE=your-client-id,account

